<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="perflux" type="perflux.Configuration.PerfluxConfigurationSection, perflux"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <perflux monitorIntervalSeconds="30" postIntervalSeconds="120" counterCleanupIntervalSeconds="600" rateLimit="10">
    <connection hostName="66.172.33.43" databaseName="perflux" userName="" password="" />
    <performanceCounters>
      <add seriesNameFormat="avala-web06.Memory.{1}" categoryNameExpression="^Memory$" counterNameExpression=".*" instanceNameExpression=".*" />
      <add seriesNameFormat="avala-web06.Processor.{1}.{2}" categoryNameExpression="^Proc.*$" counterNameExpression=".*" instanceNameExpression=".*" />
    </performanceCounters>
    <seriesNameFormatters>
      <add findExpression="[_\*\(\)\-\\\.]"/>
      <add findExpression="%" replaceWith="Percent"/>
      <add findExpression="/" replaceWith=" Per "/>
    </seriesNameFormatters>
  </perflux>
  <nlog>

    <targets>
      <target name="logfile" type="File" fileName="file.txt" />
      <target name="console" type="Console" />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>